.coin__search{
    margin-bottom: 64px;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
}
.coin__input{
    background: var(--menu-background);
    border: none;
    padding: 16px;
    border-radius: 4px;
    outline: none;
    height: 100%;
    width: 100%;
}
.coin__input::placeholder{
    color: var(--text-primary);
}